body{
    width: 50%;
    margin: 0 auto;
    background-image: url(https://img.freepik.com/free-photo/old-wooden-texture-background-vintage_55716-1138.jpg);
}
.box{
    
    width: 460px;
    border-radius: 30px;
    background-color: rgb(238, 238, 157);
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    border-radius: 13px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin: 5px;
    cursor: progress;
    margin-top: 10%;
}
}
.container{
    background-color: rgb(238, 238, 157);
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    width: 460px;
}
.container h1{
    font-family: 'New Rocker', cursive;
}
.container h4{
    font-family: 'Gochi Hand', cursive;
}
button{
    cursor: pointer;
    background: linear-gradient(rgb(75, 58, 58),rgb(117, 68, 97));
    color: white;
    border-radius: 20px;
    margin-left: 10%;
    height: 50px;
    width: 40px;
}
button:hover{
    cursor: pointer;
    color: rgb(177, 114, 177);
}
#inputField{
    background-color: rgb(233, 58, 131);
    border-radius: 30px;
    margin-bottom: 10px;
    text-align: center;
    width: 260px;
    height: 40px;
    border: 1px dashed black;
    outline: none;
}
#addToDo{
    height: 50px;
    width: 50px;
    background-color: white;
    border: 2px solid rgb(19, 17, 17);
}

.to-do {
    margin-top: 25px;
}